@use '../colors.scss';

.dashboard {
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100%;

    #side_bar {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border: 1px solid colors.$primary-color;

        #title {
            padding: 50px 0px;
            font-weight: 700;
            color: colors.$primary-color;
            font-size: 30px;
        }

        #menu {
            margin: 50px 0px;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            align-content: center;

            .menu-item {

                width: 50%;
                text-align: center;
                padding: 10px;
                cursor: pointer;
                text-decoration: none;
                color: colors.$primary-color;

                .tab {
                    padding: 17px 0px;
                }

                .selected {
                    padding: 17px 0px;
                    background-color: colors.$primary-color;
                    color: colors.$secondary-color;
                    border-radius: 15px;
                }
            }
        }
    }

    #main_section {
        width: 85%;
        height: 100%;
        padding: 0px 20px;
        #header {
            display: flex;
            justify-content: flex-end;
            height: 5%;

            align-items: center;

            .user-acc {
                display: flex;
                width: 32px;
                height: 32px;
                background-color: colors.$primary-color;
                justify-content: center;
                align-items: center;
                color: colors.$secondary-color;
                border-radius: 15px;
            }

            .username {
                color: colors.$primary-color;
                font-weight: 500;
                padding: 0px 10px;
            }
        }

        #render {
            .message {
                font-weight: 500;
                font-size: 25px;
                color: colors.$primary-color;

            }
        }

    }
}


.no-view {
    display: flex;
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .no-view {
        display: none;
    }

    .mobile-only {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 700;
            color: colors.$primary-color;
        }
    }
}