<div class="create-post">
    <div class="editor">
        <form [formGroup]="post" (ngSubmit)="onSubmit()">
            <div class="title">
                <input type="text" id="title" formControlName="title" placeholder="Title">
            </div>
            <div class="excerpt">
                <input type="text" id="excerpt" formControlName="excerpt" placeholder="Excerpt">
            </div>
            <div class="content">
                <textarea type="text" id="content" formControlName="post_content" placeholder="Content"
                    [(ngModel)]="text" (input)="onInput()"></textarea>
            </div>
            <div class="category">
                <input type="text" id="category" formControlName="excerpt" placeholder="Category">
            </div>

            <div class="submit-btn">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>