<div class="create-post">
    <div class="editor">
        <form [formGroup]="postData" (ngSubmit)="onSubmit()">
            <div class="title">
                <input type="text" id="title" formControlName="title" placeholder="Title">
            </div>
            <div class="excerpt">
                <input type="text" id="excerpt" formControlName="excerpt" placeholder="Excerpt">
            </div>
            <div class="content" #content contenteditable="true" placeholder="Content" (keydown)="shortcuts($event)"
                (input)="updateContent()">
            </div>


            <textarea name="textArea" id="content" formControlName="post_content">{{contentHTML}}</textarea>
        </form>
    </div>

    <!-- Submit Section -->
    <div class="options">
        <form [formGroup]="postData" (ngSubmit)="onSubmit()">
            <div class="category">
                <input type="text" id="category" formControlName="post_category" placeholder="Category"
                    (select)="onSubmit()">
            </div>

            <div class="submit-btn">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <!-- End -->
</div>